<!DOCTYPE HTML>

<html>
	<head>

	<title> My Products </title>
	
	</head>

	<body>
		<form action = <label> Search </label>
		<input type = "text" name = product-name placeholder = "search">
		<br>
		<input type= "submit" name= "submit" value= "submit">
		</form>
		<button click= clearInput(); newOrEdit = true; createNew = true; editPressed = false; search </button>
		<br>
		<br>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>price</th>
					<th>creation time</th>
					<th>updating time</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>product.name</th>
					<th>product.price</th>
					<th>product.creation time</th>
					<th>product.updating time</th>
					<th>product.actions</th>
				</tr>
		</table>
	</body>

